
.git/
.idea/

dotenv/
hub_datasets
pretrained_models/
thirdparty/
trained_models/

**/cache/
**/cache_dir/
**/data_dir/
**/file_dir/
**/log/
**/logs/
**/output_dir/
**/pretrained_models/
**/serialization_dir/
**/temp/
**/vocabulary/
**/__pycache__/

**/*.jsonl
**/*.pkl
**/*.pth
**/*.th
**/*.zip
